/* Base font-size, grid and spacing settings */
html {
  font-size: 1.375em; /* 22px */
  line-height: 1.182em;
  padding: 1.182em;
  text-rendering: optimizeLegibility;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}
